@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(3, 5, 59, 0.85);
  --spacing: 100px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 12;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 4 / span 8;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: rgb(3, 5, 59);
    background-color: white;
    font-size: 3rem;
  }

  .left {
    grid-column: 5 / 12;
  }

  .navItem > a {
    text-decoration: none;
  } 

  a:link{
    color: rgb(63, 240, 18);
  }

  a:visited{
    color: rgb(81, 233, 195);
  }

  a:hover{
    color: rgb(240, 18, 85);
  }

  .nav {
      display: flex;
      flex-direction: row;
  }

  .navItem{
    padding-left: 25px;
    padding-right: 25px;
  }

  .box{
    border-top-left-radius: 30px;
    padding-left: 70px;
    background: rgba(9, 11, 61, 0.85);
  }

  .head {
      font-size: 30px;
  }

  .box img{
    float: right;
    width: 17.5%;
    height: 17.5%;
  }
  
