@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(3, 5, 59, 0.85);
  --spacing: 100px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

img{
  width: 315px;
  height: 250px;
}

#bg {
  width: 100%;
  height: 100%;
  display: block;
}

a{
  text-decoration: none;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  
  display: grid;
}

h1, h2, h3, blockquote {
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-left: 2cm;
    width: 60%;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 15;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    grid-column: 6 / span 8;
    width: 80%;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: rgb(3, 5, 59);
    padding: 20px;
    background-color: white;
    font-size: 3rem;
  }

  .topnav {
    display: none;
    width: 85%;
    margin-right: 0.7cm;
    float: right;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mynav> a {
    padding-left: 25px;
    padding-right: 25px;
  } 

  a:link{
    color: white;
  }

  a:visited{
    color: rgb(81, 233, 195);
  }

  a:hover{
    color: rgb(240, 18, 85);
  }

  .mynav {
      overflow: hidden;  
      float: right;
  }

  .container{
    display: flex;
    flex-wrap: wrap;   
    margin: 1cm 1.5cm;
  }

  .head_name{
    margin: 0rem 1cm;
  }

  .box{
    flex: 1 1 30%;
    padding-top: 10px;
  }

  .head {
      font-size: 30px;
      text-align: center;
      background-color: rgba(3, 5, 59, 0.85);
  }

  @media only screen and (max-width: 1183px) {
    .box{
      flex: 1 1 50%;
    }
  }

  @media only screen and (max-width: 832px) {
    .box{
      flex: 1 1 100%;
    }
    blockquote{
      grid-column: 2 / span 5;
      margin-left: 2.1cm;
      width: 70%;
    }
    .topnav{
      display: block;
    }
    .mynav{
      display: none;
    }
  }
  
